* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #18181c;
}

/* -----------------------HEADER------------------------ */

header {
    background: linear-gradient(180deg, #945ff5, rgba(255, 255, 255, 0));
    width: 100vw;
    height: 85px;
}

.titulo {
    font-size: 35px;
    padding: 8px 10px;
    color: white;
    padding: 15px 0 0 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#iconSair {
    width: 60px;
    position: absolute;
    right: 4px;
    top: 2px;
    cursor: pointer;
}

/* -----------------------MAIN------------------------ */

form {
    text-align: center;
}

#nota,
#detalhamento {
    line-height: 30px;
    width: 500px;
    border: 2px solid transparent;
    border-bottom-color: #945ff5;
    padding: .2rem 0;
    margin: 10px;
    outline: none;
    background-color: transparent;
    color: white;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    font-size: 13px;
}

#nota:focus,
#nota:hover,
#detalhamento:focus,
#detalhamento:hover {
    outline: none;
    padding: .3rem;
    border-radius: 1rem;
    border-color: #945ff5;
}

#nota::placeholder,
#detalhamento::placeholder {
    color: rgba(255, 255, 255, 0.648);
}

#nota:focus::placeholder,
#detalhamento:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}

#salvarNota {
    background: rgba(158, 235, 50, 0.849);
    background-size: 800% 400%;
    padding: 10px;
    margin-left: 20px;
    display: inline-block;
    border: none;
    border-radius: 13px;
    font-size: 17px;
    font-weight: 700;
    color: black;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
    cursor: pointer;
}


#salvarNota:hover {
    animation: gradient 3s infinite;
    transform: scale(1.05);
}

#salvarNota:active {
    animation: gradient 3s infinite;
    transform: scale(0.8);
}


table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 10px;
    text-align: center;
    border-bottom: 4px solid #945ff5;
    padding-top: 35px;
    color: white;
}

th {
    font-size: 20px;
}

tbody>tr:hover {
    background-color: #673bba;
}

#vazio > h1 {
    color: white;
    font-size: 40px;
    font-family: 'Fredoka One', cursive;
    font-weight: lighter;
    position: fixed;
    top: 400px;
    left: 480px;
}

#teia {
    width: 350px;
    position: fixed;
    right: 0;
    bottom: 0;
}

.modal-container{
    position: fixed;
    top: 150px;
    left: 300px;
    z-index: 999;
    text-align: center;
    display: none;
}

.modal{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #c2a0ff;
    border-radius: 10px;
    width: 800px;
    height: 250px;
}

.active{
    display: flex;
}

.active .modal{
    animation: modal .4s;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.modal-footer > h1 {
    color: black;
    font-size: 45px;
    position: absolute;
    top: 30px;
    left: 40px;
    font-family: 'Fredoka One', cursive;
    font-weight: lighter;
}

#salvar-alteracoes{
    position: absolute;
    margin-top: 40px;
    padding: 20px;
    border: inset;
    border-color: rgba(96, 159, 7, 0.758);
    cursor: pointer;
    font-family: 'Fredoka One', cursive;
    font-weight: lighter;
    color: black;
    font-size: 20px;
    border-radius: 20px;
    background-color: rgba(158, 235, 50, 0.758);
    bottom: 20px;
    left: 310px;
}

#fechar-modal{
    width: 60px;
    position: absolute;
    right: -25px;
    top: -30px;
    cursor: pointer;
    background: none;
    border: none;
}

.input-modal {
    border: none;
    padding: 10px;
    width: 350px;
    line-height: 30px;
    border-radius: 10px;
    margin: 10px;
    position: relative;
    top: 90px;
}

#editar {
    background-color: #ffed63;
    border-radius: 5px;
    color: #000000;
    width: 80px;
    cursor: pointer;
    padding: 10px;
    border: none;
}

#apagar {
    background-color: rgb(230, 106, 106);
    border-radius: 5px;
    color: #000000;
    width: 80px;
    cursor: pointer;
    padding: 10px;
    border: none;
}

/* -----------------------FOOTER------------------------ */

footer {
    background: linear-gradient(0deg, #945ff5, rgba(255, 255, 255, 0));
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 75px;
    text-align: center;
}

#iconLinkedin,
#iconGithub,
#iconInstagram {
    width: 60px;
}
