
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #18181c;
}

/* ---------------------POPUP------------------------ */


.popup {
    position: absolute;
    margin: auto;
    width: 500px;
    height: 500px;
    padding: 30px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
    text-align: center;
    box-sizing: border-box;
}


.popup-button{
    background-color: #ffed63;
    color: black;
    border: none;
    padding: 10px 30px;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.popup > .popup-button:active{
    transform: scale(1.03);
}


img{
    width: 250px;
}

#titulo{
    padding-top: 20px;
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
    font-weight: 100;
}

#descricao{
    padding: 10px 70px 20px 70px;
    font-size: 20px;
    text-align: center;
    width: 320;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* ---------------------SUCESSO------------------------ */

#popup-sucesso {
    background-color:#945ff5;
}


/* ---------------------ERRO------------------------ */

#popup-erro-senha, #popup-erro-email{
   /*  box-shadow: inset 50px -50px 70px -30px #630e0e; */
    background: linear-gradient(130deg, rgba(244, 8, 8, 0.463), rgba(255, 255, 255, 0));
    box-shadow: 0 0px 35px 10px rgb(255, 57, 57);
}

#voltar{
    background-color: #ffc228;
}

#popup-erro-senha > h2, #popup-erro-email > h2{
    color: white;
    padding: 20px 0 40px 0;
}

#popup-erro-senha > p, #popup-erro-email > p{
    color: white;
    padding: 40px 70px 20px 70px;
}
